:root {
  --font-ral: "Raleway", sans-serif;
  --color-logo:  #000000
  --color-title:   #212121;
  --color-text: #757575;
  --color-hover-focus: #2196f3;
  --color-background: #2f303a;
  --color-section-title:#ffffff;
  --color-section-btn: #d9d9d9;
  --team-background:#F5F4FA;
  --color-footer-logo: #FFFFFF;
  --color-footer-mail: rgba(255, 255, 255, 0.6);
}
body {
  font-family: "Roboto", sans-serif;
}

/*header*/

/*-----WebStudio-----*/
.logo {
  font-family: var(--font-ral);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--color-logo);

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  cursor: pointer;
}
.logo-web {
  color: var(--color-hover-focus);
}

/*
  
  .list {
  list-style: none;
  text-decoration: none;.social-links .link:hover,
.social-links .link:focus*/

/*nav*/
.nav {
}
.nav-list {
  list-style: none;
}
.nav-list-studio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  color: var(--color-title);

  text-decoration: none;
  cursor: pointer;
}

.nav-list-portfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  color: var(--color-title);

  text-decoration: none;
  cursor: pointer;
}
.nav-list-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  color: var(--color-title);

  text-decoration: none;
  cursor: pointer;
}
.nav-list-studio:hover,
.nav-list-studio:focus,
.nav-list-studio.current,
.nav-list-portfolio:hover,
.nav-list-portfolio:focus,
.nav-list-contacts:hover,
.nav-list-contacts:focus {
  color: var(--color-hover-focus);
}
/*mail/tel*/
.list {
  list-style: none;
}
.list-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  color: var(--color-text);
  text-decoration: none;
  cursor: pointer;
}
.list-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;

  color: var(--color-text);
  text-decoration: none;
  cursor: pointer;
}
.list-mail:hover,
.list-mail:focus,
.list-tel:hover,
.list-tel:focus {
  color: var(--color-hover-focus);
}
/*main*/
/*section*/
.section {
  background: var(--color-background);
}
.section-title {
  /*font-family: 'Roboto';
font-style: normal;*/
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--color-section-title);
}
.section-btn {
  background: var(--color-section-btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
}
.section-btn:hover,
.section-btn:focus {
  background: var(--color-hover-focus);
}
/*section-features*/
.features {
}
.features-list {list-style: none;
}
.features-item {
  
}
.warning {

font-weight: 700;
font-size: 14px;
line-height: 1.428;
letter-spacing: 0.03em;
text-transform: uppercase;


color:  var(--color-title);
}
.warning-text {font-weight: 400;
font-size: 14px;
line-height: 1.7142;
/* or 171% */

letter-spacing: 0.03em;

color: var(--color-text);
}
.punctuaity {font-weight: 700;
font-size: 14px;
line-height: 1.428;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.punctuaity-text {font-weight: 400;
font-size: 14px;
line-height: 1.7142;
/* or 171% */

letter-spacing: 0.03em;

color: var(--color-text);
}
.planning {font-weight: 700;
font-size: 14px;
line-height: 1.428;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.planning-text {font-weight: 400;
font-size: 14px;
line-height: 1.7142;
/* or 171% */

letter-spacing: 0.03em;

color: var(--color-text);
}
.tehnologies {font-weight: 700;
font-size: 14px;
line-height: 1.428;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.tehnologies-text {font-weight: 400;
font-size: 14px;
line-height: 1.7142;
/* or 171% */

letter-spacing: 0.03em;

color: var(--color-text);
}
/*section-do*/
.do {
}
.do-title {font-weight: 700;
font-size: 36px;
line-height: 1.1666;
text-align: center;
letter-spacing: 0.03em;

color: var(--color-title);
}
.items {list-style: none;
}
.do-title-items {
}
.box-one {background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
mix-blend-mode: normal;
}
.box-two {background: url(web-ui-designers-are-developing-application-smartphones-team-creators-is-working-interface-mobile-phones_8119-2713.jpg);
}
.box-thre {background: url(creative-artist-web-design-with-working-colour-selection-graphic-tablet_35674-1119.jpg);
}
/*section-team*/
.team {background: var(--team-background);
}
.team-title {font-weight: 700;
font-size: 36px;
line-height: 1.1666;
text-align: center;
letter-spacing: 0.03em;

color: var(--color-title);
}
.team-list {list-style: none;
}
.team-item {
}
.igor {background: url(4853.jpg);
border-radius: 0px;
}
.igor-title {font-weight: 500;
font-size: 16px;
line-height: 1.1875;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: var(--color-title);
}
.igor-text {font-weight: 400;
font-size: 16px;
line-height: 1.1875;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: var(--color-text);
}
.olga {background: url(5844.jpg);
border-radius: 0px;
}
.olga-title {font-weight: 500;
font-size: 16px;
line-height: 1.1875;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: var(--color-title);
}
.olga-text {font-weight: 400;
font-size: 16px;
line-height: 1.1875;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: var(--color-text);
}
.mukola {background: url(16166.jpg);
border-radius: 0px;
}
.mukola-title {font-weight: 500;
font-size: 16px;
line-height: 1.1875;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: var(--color-title);
}
.mukola-text {font-weight: 400;
font-size: 16px;
line-height: 1.1875;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: var(--color-text);
}
.muhailo {background: url(2968.jpg);
border-radius: 0px;
}
.muhailo-title {font-weight: 500;
font-size: 16px;
line-height: 1.1875;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: var(--color-title);
}
.muhailo-text {font-weight: 400;
font-size: 16px;
line-height: 1.1875;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: var(--color-text);
}
/*footer*/
.footer {background: var(--color-background);
}
.footer-logo {  font-family: var(--font-ral);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--color-footer-logo);

 
  text-decoration: none;
  cursor: pointer;
}
.footer-logo-web {color: var(--color-hover-focus);
}
.address {
}
.address-list {list-style: none; 
}
.address-list-item {
}
.address-address {font-weight: 400;
font-size: 14px;
line-height: 1.7142;
/* or 171% */

letter-spacing: 0.03em;
color: var(--color-section-title);
  text-decoration: none; 
  cursor: pointer;
}
.address-mail {font-weight: 400;
font-size: 14px;
line-height: 1.7142;
/* or 171% */

letter-spacing: 0.03em;

color: var(--color-footer-mail);
  text-decoration: none;
   cursor: pointer;
}
.address-tel {font-weight: 400;
  font-size: 14px;
line-height: 1.7142;
/* or 171% */

letter-spacing: 0.03em;

color: var(--color-footer-mail);
  text-decoration: none;
   cursor: pointer;
}
.address-address:hover, .address-address:focus,
.address-mail:hover, .address-mail:focus,
.address-tel:hover, .address-tel:focus
{color: var(--color-hover-focus);}